div.container
  div.page
    div.row(style='padding-top:30px;padding-left:15px;')
      div.span10
        p(style='font-size:35px; font-weight:bold;') The easy, natural way to remember your dreams.
        div(style='font-size:18px; font-weight:200;margin-left:5px;margin-top:15px;margin-bottom:15px;') We send you an email before you wake up and build a private log of your responses.
      div.span4(style='padding-right:0;margin-right:0).offset1
        p
          form.form-horizontal
            input#email.input-large(placeholder='you@gmail.com')
            input#submit.btn.btn-primary.btn-large(type='submit', value='Sign up')
            p(style='font-size:9px') (one email per day, one-click unsubscribe, export or delete your data anytime)

      div.span4
        img(src='/images/bedphone.png')

    div.row(style='padding-bottom:10px;margin-top:15px')
      div.span6
        div(style='margin-left:10px;margin-right:0')
          h2 You forget most of your dreams...
          p(style='font-size:14px') <strong>You dream every night</strong> but most people only remember a small segments. Habitually recording dreams makes them <strong>more vivid</strong> and <strong>easier to remember</strong>.
      div.span6
        div(style='margin-right:10px')
          h2 That can change.
          p(style='font-size:14px') Dreams can be committed to long term memory by recording them when they're still <strong>fresh in your mind</strong>. Even jotting down a few key words makes a big difference.

div#success-modal.modal(style='display:none;')
  div.modal-header
    a.close(data-dismiss='modal') ×
    h2 Success
  div.modal-body
    p#success-body
  div.modal-footer
    a.btn.btn-primary(data-dismiss='modal') Close
