
div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand Remember Your Dreams
      div.nav-collapse
        ul.nav
          li.active
            a Home
div.container
  div.page
    div.hero-unit
      h2 The easiest way to remember your dreams.
      div.span8
        p Here's a natural way to record your dreams. Every morning when you wake up, you'll have a email waiting. Just respond to record your dream journal.
        p
          form.form-horizontal
            input.input-large(placeholder='you@gmail.com')
            input.btn.btn-primary.btn-large(type='submit', value='Sign up')
            p(style='font-size:10px') (one email per day, one-click unsubscribe)


      div.span2
        img(src='/images/bedphone.png', style='float:right')

    div.row
      div.span6
        h2 Dreams are really cool...
        p <strong>You dream every night</strong>, but usually remember nothing. Recording dreams makes them <strong>more vivid</strong> and <strong>easier to remember</strong>.
      div.span6
        h2 Remember them.
        p You can commit dreams to long term memory by recording them when they're still <strong>fresh in your mind</strong>. Even saving a few key words makes a big difference.
