div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand
      div.nav-collapse
        ul.nav
          li.active
            a(href='/') Home

div.container

  div.dreamview.page
    div(style='float:right')
      | Log actions:
      a(href='?dl')  Export
      | ,
      a(href='?drop') Delete

    - each dream, i in dreams
      div.row
        div.span8
          h2
            - var readable_date = new Date(dream.time);
            #{readable_date}
          - var parts = dream.text.split('\n')
          - each part in parts
            p
              #{part}
