- var MONTHS = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];

div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand
      div.nav-collapse
        ul.nav
          li.active
            a(href='/') Home

div.container

  div.dreamview.page
    div(style='float:right')
      | Log actions:
      a(href='?dl')  Export
      | ,
      a(href='?drop') Delete

    - each dream, i in dreams
      div.row
        div.span8
          h2
            - var d = new Date(dream.time);
            - d.setDate(d.getDate()-1);
            - var month = MONTHS[d.getMonth()];
            - var year = 1900 + d.getYear();
            #{month} #{d.getDate()}, #{year}
          - var parts = dream.text.split('\n\n')
          - each part in parts
            p
              - var subparts = part.split('\n')
              - each subpart in subparts
                #{subpart}
                br

script
  mixpanel.track('view');
