body {
  margin: 0px;
  padding: 0px;
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
}

.page {
  margin-top: 30px;
  background-color: #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius:6px;
  border-radius: 6px;
}

.dreamview {
  margin-top: 70px;
  padding: 10px;
}

.logo {
  font-family: 'Bad Script', cursive;
}

.logomain {
  font-size: 70px;
  color: #0057A3;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 15px;
}
